
.homeWrapper {
    .note {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #D3D3D3;
    }
}

.repoViewWrapper {

}

.chartViewWrapper {

}